#gritttt-overlay {
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    z-index:10000;
    text-align: center;
    background-image: url('bg.png');
    background-repeat: repeat;
}

#gritttt-box{
    width:600px;
    margin: 0 auto; 
    background-color: white;
}

#gritttt-msg{
    width: 570px;
    height: 200px;
    padding: 20px;
    background-color: white;
    font-size: 16px;
}

